@font-face {
    font-family: "American Karlie";
    src: url(fonts/AmericanKarlie.woff2);
}

@font-face {
    font-family: "Monday Ramen";
    src: url(fonts/MondayRamen.woff2);
}

@font-face {
    font-family: "Roboto Regular";
    src: url(fonts/roboto-regular-webfont.woff2);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100svh;
}